.skill{
    background-color: #533B4A ;
    
    padding: 20px 20px;
    border: 2px solid azure;

    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    
}


.skill:hover{
    background-color: black;
    border: 2px solid azure;
    cursor: pointer;
}
.skill-flex{
    display: flex;
    flex-direction: column;
   
    width: 100%;
}

@media(max-width:768px){
  
    .skill-flex{
        gap: 0px;
        margin-top: 10px;
    }
 
    .skill{
        border-radius: 0;
        
    }
}