
.banner{
    width: 100%;
    text-align: center;
    position: relative;
    max-height: 500px;
    overflow: hidden;
    filter: drop-shadow(0px 5px 0px pink);
}
.banner-title{
    text-align: center;
    color: azure;
   
    font-size: 70px;
    line-height: 2;
    font-family: Bitcount grid double, sans-serif;
   
   

}
.banner img{ 
    width: 100%;
    object-fit: cover;
  
}

@media(max-width:768px){
.banner-title{
    font-size: 50px;


}
.banner{
    max-height: 400px;
}
}
@media(max-width:500px){
    .banner-title{
        font-size: 30px;
    }
    .banner{
        max-height: 200px;
    }
}

@media(max-width:500px){
    .banner-title{
        font-size: 20px;
    }
   
}